.contactBtn {
    width: 100px;
    height: 60px;
    background-color: rgb(239, 157, 6);
    color: white;
    transition-duration: 0.4s;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.contactBtn:hover {
    background-color: rgb(0, 36, 61);
    font-size: 1rem;
}

.shareBtn {
    margin-left: 10px;
}