.mainField {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr; 
    grid-gap:10px;
    grid-template-areas:
        "title"
        "photoGallery"
        "content"
        "map"
}

.mainContainer {
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 3rem;
        padding-top: 100px; 
        margin: 0 auto;
}

.photoGallery {
    grid-area: photoGallery;
    min-width: 0;
}

.content {
    grid-area: content;
}

.map {
    grid-area: map;
}

.title {
    grid-area: title;
}

/*  landscape mobile */
@media (min-width:768px) {
    .mainContainer {
        padding-left: 50px;
        padding-right: 50px;
}
}

/* tablet, */
@media (min-width:1024px) {
    
    .mainField {
        grid-template-columns: 1.5fr 1fr !important; 
        grid-gap:10px;
        grid-template-areas:
            "title title"
            "photoGallery map"
            "content content"
    }
}

/* desktop */
@media (min-width: 1280px) {
    .mainContainer {  
        max-width: 1000px;
}
    .mainField {
        grid-template-columns: 1.5fr 1fr !important; 
        grid-gap:10px;
        grid-template-areas:
            "title title"
            "photoGallery content"
            "map content"
    }
  }