.mainField {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr !important; 
    grid-gap:10px;
    grid-template-areas:
        "title"
        "photoGallery"
        "content"
        "map"
}

.photoGallery {
    grid-area: photoGallery;
    min-width: 0;
}

.content {
    grid-area: content;
}

.map {
    grid-area: map;
}

.title {
    grid-area: title;
}

/*  landscape mobile */
@media (min-width:768px) {
    
}

/* tablet, */
@media (min-width:1024px) {
    .mainField {
        grid-template-columns: 2fr 1fr !important; 
        grid-gap:10px;
        grid-template-areas:
            "title"
            "photoGallery content"
            "map content"
    }
}

/* desktop */
@media (min-width: 1280px) {
    .mainField {
        grid-template-columns: 2fr 1fr !important; 
        grid-gap:10px;
        grid-template-areas:
            "title"
            "photoGallery content"
            "map content"
    }
  }