.carousel {
    min-width: 300px;
    height: 400px;
    width: 100%;
}

.carouselItem {
    height: 400px;
    overflow: hidden;
    text-align: center;

  }
  
  .carouselItem img {
    /* position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    object-fit: cover;
    object-position: center;
    height: 50vp;
    overflow: hidden; */
    min-height: 70%;
    max-width: 70%;
    /* left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); */ 
  }


  
