.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(239, 157, 6, 0.7);
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 95vw;
    height: 55vh;
    background-color: white;
    position: relative;

}

.content {
    padding: 50px;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: 1px solid rgb(239, 157, 6);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}



  /*  landscape mobile */
  @media (min-width:768px) {
    .popup {
        width: 70vw;
    }
}

/* tablet, */
@media (min-width:1024px) {
    .popup {
        max-width: 950px;;
    }
}

/* desktop */
@media (min-width: 1280px) {
    .popup {
        max-width: 1100px;;
    }
  }