.btn {
  /* display: none; */
  margin-left: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.tooltip {
  width: 100px;
  height: 20px;
  text-align: center;
}


  /*  landscape mobile */
  @media (min-width:768px) {

}

/* tablet, */
@media (min-width:1024px) {

}

/* desktop */
@media (min-width: 1280px) {

  }