.titleWrapper {
  display: flex;
  /* align-items: center; */
}

.title {
    display: inline-block;
    padding-left: 10px;
}

.heart {
  cursor: pointer;
  padding-top: 10px;
}

  /*  landscape mobile */
  @media (min-width:768px) {

}

.lineBreak {
    flex-basis: 100%;
    height: 0; 
}
.actionIcons {
  width: 100%;
}


/* tablet, */
@media (min-width:1024px) {

}

/* desktop */
@media (min-width: 1280px) {

  }