.passwordContainer{
    width: 80vw;
    margin: auto;
    padding: 70px;
}
.okButton{
    background-color: #EF9D06;
    width: 16rem;
    font-weight: bold;
    border: 3px #EF9D06 solid;
    transition: 500ms
}

.okButton:hover{
    background-color: #3CD014;
    border: 3px #EF9D06 solid;
    transition: 500ms
}
.cancelButton{
    background-color: #fff;
    width: 16rem;
    font-weight: bold;
    border: #EF9D06 3px solid;
    color: #EF9D06;
    transition: 500ms
}

.cancelButton:hover{
    background-color: #D50005;
    border: #EF9D06 3px solid;
    color: #fff;
    transition: 500ms
}
.buttonRow{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .passwordContainer{
        margin-top: 10rem;
        text-align: center
    }
    .cancelButton, .okButton{
        width: 8rem;
    }
}
