.mainHeader {
  text-align: center;
}

.PostsContainer {
  margin: 70px 0 60px 300px;
  width: calc(100vw - 21rem);
}

.PostsDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 13rem;
}

.listOrders {
  text-align: center;
  list-style: inside;
  color: blue;
}

.deleteImageButton {
  fill: #ef9d06;
}

.postedMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  width: 100vw;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  width: calc(100vw- 400px);
  margin-top: 50px;
}

.container {
  width: 40vw;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.facebookButton {
  border: none;
  background-color: none;
  fill: none;
}

.facebookImage {
  height: 50px;
}

.SortDiv {
  display: flex;
  position: fixed;
  height: 85px;
  top: 168px;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  z-index: 1;
  background-color: #fff;
}

.Cards {
  display: flex;
  flex-direction: column;
  /* border: 1px solid #e0e0e0; */
  /* border-radius: 0.25rem; */
  width: 220px;
  margin-top: 10px;
  margin-right: 10px;
  background: #fef2eb;
  /* margin: 2px; */
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  border: none;
  padding: 10px;
}

.CardImage {
  max-height: 160px;
  min-height: 160px;
}

.Cards > p {
  margin: 0;
}

.timeAgo {
  font-size: 12px;
}

.DeleteButtonCard {
  position: relative;
  left: 187px;
  bottom: 45px;
  font-size: 1.5rem;
  color: #d50005;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px;
  border: none;
  background-color: transparent;
}

.DeleteButtonMobileCard {
  position: relative;
  left: 124px;
  bottom: 45px;
  font-size: 1.5rem;
  color: #d50005;
  border-radius: 3px;
  padding: 2px;
  border: none;
  background-color: transparent;
  /* border: 1px solid #fff; */
  /* background: aliceblue; 
  left: 163px;*/
}

.mainScreenLoader {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.providerButtons {
  display: flex;
  flex-direction: row;
}

.providerButtons > * {
  background: none;
  border: none;
  font-size: 2.5rem;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 3rem;
  background-color: #ef9d06;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.signInContainer {
  width: 50%;
  margin: auto;
}

/* Media queries for responsive design */
@media (min-width: 768px) and (max-width: 1024px) {
  .InputField {
    width: 70vw;
    margin-left: 10px;
  }

  .PostsContainer {
    width: calc(100vw - 20rem);
  }

  .SortDiv {
    left: 122px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 60vw;
  }

  .PostsContainer {
    margin-left: 30px;
  }

  .PostsDisplay {
    margin-top: 16rem;
    width: 100vw;
  }

  .footer {
    width: 100vw;
  }

  .InputField {
    width: 90vw;
    margin-left: 10px;
  }
}
@media (min-width: 360px) and (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .mainContainer {
    width: 100vw;
    margin: 0;
  }
  .PostsContainer {
    margin-left: 30px;
  }
  .footer {
    width: 100vw;
  }

  .PostsDisplay {
    margin-top: 16rem;
    width: 100vw;
  }
  .Cards {
    width: 155px;
  }
  .InputField {
    width: 90vw;
    margin-left: 10px;
  }
  .signInContainer {
    width: 90%;
  }
  .CardImage {
    max-height: 120px;
    min-height: 120px;
  }
}
