.mainHeader {
  text-align: center;
}

.PostsContainer,
.inputContainer {
  padding-top: 40px;
  /* width: calc(100vw - 400px); */
}

.PostsDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 20px;
}

.listOrders {
  text-align: center;
  list-style: inside;
  color: blue;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.imageDiv {
  position: relative;
}

.deleteImageButton {
  fill: #ef9d06;
}

.postImage {
  padding: 5px 15px;
  width: 200px;
  height: auto;
}

.postImage:hover {
  cursor: pointer;
  opacity: 0.3;
}

.postedMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mainContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.container {
  width: 40vw;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.facebookButton {
  border: none;
  background-color: none;
  fill: none;
}

.facebookImage {
  height: 50px;
}

.SortDiv {
  display: flex;
  position: absolute;
  right: 12%;
  /* left: 11%; */
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  /* padding-bottom: 20px; */
  width: 70vw
}

.Cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  width: 220px;
  margin-top: 10px;
  margin-right: 10px;
  background: #fef2eb;
  margin: 2px;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
}

.CardImage {
  max-height: 210px;
  min-height: 210px;
}

.DeleteButtonCard {
  position: relative;
  left: 187px;
  bottom: 45px;
  font-size: 1.5rem;
  color: #d50005;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 2px;
  border: none;
  background-color: transparent;
}

.DeleteButtonMobileCard {
  position: relative;
  left: 124px;
  bottom: 45px;
  font-size: 1.5rem;
  color: #d50005;
  border-radius: 3px;
  padding: 2px;
  border: none;
  background-color: transparent;
  /* border: 1px solid #fff; */
  /* background: aliceblue; 
  left: 163px;*/
}

.mainScreenLoader {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.providerButtons {
  display: flex;
  flex-direction: row;
}

.providerButtons > * {
  background: none;
  border: none;
  font-size: 2.5rem;
}

/* Media queries for responsive design */
@media (min-width: 768px) and (max-width: 1024px) {
  .InputField {
    width: 70vw;
    margin-left: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .InputField {
    width: 90vw;
    margin-left: 10px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .Cards {
    width: 155px;
  }
  .InputField {
    width: 90vw;
    margin-left: 10px;
  }
}
