.mainHeader {
  text-align: center;
}

.PostsContainer {
  padding: 30vh;
}

.PostsDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}
