.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  padding: 15px;
  width: 100%;
  background: transparent;
  z-index: 1;
}
.SearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  max-width: 90%;
}

.SearchBar {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  background-color: #fff;
  border-color: #e0e0e0;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
  box-sizing: content-box;
  border-radius: 0;
  width: 600px;
  padding: 15px;
  cursor: pointer;
  margin-left: 80px;
}

.SearchButton {
  display: flex;
  background-color: transparent;
  border: none;
}

.UserButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: bold;
  padding: 0;
}

.SideBar {
  list-style: none;
  width: 300px;
  margin:auto;
  line-height: 2.5rem;
  padding-right: 70px;
  padding-left: 40px;
}
