.NavContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  padding: 15px;
  background: transparent;
  z-index: 1;
}

.LogoDiv {
  padding: 10px;
}

.Logo {
  height: 64px;
  width: auto;
  cursor: pointer;
  margin-top: 15px; 
}

.SearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin-top: 15px;
}

.SearchContainer > input:focus {
  outline: none;
}

.SearchBar {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  border: none;
  box-shadow: none;
  box-sizing: content-box;
  padding: 15px;
  cursor: pointer;
  margin-left: 80px;
  width: 400px;
  background: aliceblue;
  border-radius: 20px;
  text-align: center;
}

.SearchButton {
  padding: 15px;
  border-radius: 0% 35% 35% 0%;
  color: black;
  position: relative;
  left: -48px;
  background: #ffc107;
  font-size: 1rem;
  border: none;
}

.UserButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: bold;
  padding: 0;
}

.ProfileDiv {
  display: none;
}

.ProfileUl > li:hover {
  font-weight: bold;
}

.userIcon:hover > .ProfileDiv {
  display: block;
  position: absolute;
  top: 94px;
  right: 2px;
  height: 100px;
  width: 95px;
  font-size: 15px;
  z-index: 1;
  margin-top: 0px;
  padding: 10px;
  background-color: #ffc107;
  color: #00243d;
  border-radius: 9%;
}

.ProfileUl {
  cursor: pointer;
  list-style: none;
  height: 75px;
  width: 80px;
  padding: 0;
  text-align: center;
  line-height: 2.5rem;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcon p {
  margin-bottom: 0;
  margin-right: 1rem;
  font-size: 17px;
  /* font-size: 0.8rem; */
}

.FilterIcon {
  display: none;
}

.SideBar {
  display: block;
  list-style: none;
  width: 220px;
  margin-top: 30px;
  line-height: 1.8rem;
}

.SideBar:hover {
  cursor: pointer;
}

.Active {
  font-weight: bold;
  background: #fafafa;
  text-align: center;
  border-left: 4px solid gray
}

.CategoryList {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Media queries for responsive design */
@media (min-width: 768px) and (max-width: 1024px) {
  .SearchBar {
    width: 250px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .NavContainer {
    width: 97vw;
  }

  .SearchBar {
    width: 280px;
  }

  .SideBar {
    display: none;
  }

  .FilterIcon {
    display: block;
    font-size: 30px;
    position: relative;
    left: 20px;
    bottom: -17px;
    /* left: 470px; */
  }

  .Menu:hover > .SideBar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 26px; */
    text-align: center;
    font-size: 14px;
    z-index: 1;
    margin-top: 0px;
    padding: 15px;
    background-color: #ffc107;
    color: #00243d;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .SearchBar {
    width: 150px;
  }

  .SearchButton {
    left: -15px;
  }
  .userIcon p {
    margin-bottom: 0;
    position: relative;
    bottom: -40px;
    right: -50px;
    font-size: 14px
  }

  .SideBar {
    display: none;
  }

  .FilterIcon {
    display: block;
    font-size: 30px;
    position: relative;
    left: 10px;
    bottom: -11px;
    /* right: -365px; */
  }

  .Menu:hover > .SideBar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: center;
    font-size: 15px;
    z-index: 1;
    margin-top: 0px;
    padding: 15px;
    background-color: #ffc107;
    color: #00243d;
  }

  .userIcon p {
    margin-bottom: 0;
    position: relative;
    bottom: -40px;
    right: -50px;
  }
}
