
.Nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  width: 100%;
  background: transparent;
  z-index: 1;
}

.Logo {
  height: 60px;
  width: auto;
}

.SearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 90%;

}

.SearchContainer > input:focus {
  outline: 1px solid #ffc107
}


.SearchBar {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  border: none;
  box-shadow: none;
  box-sizing: content-box;
  padding: 15px;
  cursor: pointer;
  margin-left: 80px;
  width: 400px;
  background: aliceblue;
  border-radius: 20px;
  text-align: center
}

.SearchButton {
  padding: 15px;
  border-radius: 0% 35% 35% 0%;
  color: black;
  position: relative;
  left: -48px;
  background: #ffc107;
  font-size: 1rem;
  border: none;
}

.UserButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: bold;
  padding: 0;
}
.userIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.userIcon p {
  margin-bottom: 0;
  margin-right: 1rem;
}
.SideBar {
  list-style: none;
  width: 220px;
  margin-top: 30px;
  line-height: 2.5rem;
}

.SideBar:hover {
  cursor: pointer;
}

.Li:active {
  font-weight: bold;
}

.CategoryList {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

/* Media queries for responsive design */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .SearchBar {
    width: 180px
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .SearchBar {
    width: 100px
  }
  
}