.Nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  padding: 15px;
  width: 100%;
  background: transparent;
  z-index: 1;
}

.Logo {
  height: 60px;
  width: auto;
}

.SearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  max-width: 90%;
}

.SearchBar {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  border: none;
  box-shadow: none;
  box-sizing: content-box;
  padding: 15px;
  cursor: pointer;
  margin-left: 80px;
  width: 400px;
  background: aliceblue;
  border-radius: 20px;
  text-align: center;
}

.SearchButton {
  display: flex;
  background-color: transparent;
  border: none;
}

.UserButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: bold;
  padding: 0;
}

.SideBar {
  list-style: none;
  width: 220px;
  margin-top: 30px;
  line-height: 2.5rem;
}

.SideBar:hover {
  cursor: pointer;
}

.CategoryList {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
