.NavContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: calc(100vw - 60px);
  height: 100px;
  z-index: 99;
  background-color: #fff;
}

.Logo {
  height: 70px;
  width: auto;
  cursor: pointer;
}

.SearchContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: auto;
  position: fixed;
  top: 100px;
  height: 70px;
  width: 100vw;
  z-index: 1;
  background-color: #fff;
  /* new code */
  top: 93px;
  height: 100px;
}

.SearchContainer > input:focus {
  outline: none;
}

.SearchBar {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #333;
  border: none;
  box-shadow: none;
  box-sizing: content-box;
  padding: 15px;
  cursor: pointer;
  margin-left: px;
  width: 30vw;
  /* background: #e9e9e9; */
  border-radius: 20px;
  text-align: center;
  /* new code */
  border: 1px solid;
  height: 8px;
}

.SearchButton {
  display: flex;
  padding: 15px;
  border-radius: 0% 35% 35% 0%;
  color: black;
  position: relative;
  /* left: -48px; */
  /* background: #ffc107; */
  font-size: 1rem;
  border: none;
  background-color: transparent;
  /* new code */
  font-size: 13px;
  top: -1px;
  left: 42px;
}

.UserButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: bold;
  padding: 0;
}

.ProfileDiv {
  display: none;
  z-index: 99;
}

.ProfileUl > li:hover {
  font-weight: bold;
}

.userIcon:hover > .ProfileDiv {
  display: block;
  position: absolute;
  top: 75px;
  right: 0px;
  height: 100px;
  width: 110px;
  font-size: 15px;
  margin-top: 0px;
  padding: 10px;
  background-color: #ef9d06;
  color: #00243d;
  border-radius: 9%;
  z-index: 99;
}

.ProfileUl {
  cursor: pointer;
  list-style: none;
  height: 75px;
  width: 80px;
  padding: 0;
  text-align: center;
  line-height: 2.5rem;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.userIcon p {
  margin-bottom: 0;
  margin-right: 1rem;
  font-size: 17px;
  /* font-size: 0.8rem; */
}

.FilterIcon {
  display: none;
}

.SideBar {
  display: block;
  list-style: none;
  width: 220px;
  margin-top: 55px;
  line-height: 2.2rem;
  position: fixed;
  left: 0;
  top: 200px;
}

.SideBar:hover {
  cursor: pointer;
}

.Active {
  font-weight: bold;
  background: #fafafa;
  text-align: center;
  border-left: 4px solid gray;
}

.CategoryList {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

/* Media queries for responsive design */
@media (min-width: 768px) and (max-width: 1024px) {
  .SearchBar {
    width: 250px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .NavContainer {
    width: 97vw;
  }

  .SearchBar {
    width: 280px;
  }

  .SideBar {
    display: none;
  }

  .FilterIcon {
    display: block;
    font-size: 30px;
    position: relative;
    left: 20px;
    bottom: -17px;
    /* left: 470px; */
  }

  .Menu:hover > .SideBar {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    /* right: 26px; */
    text-align: center;
    font-size: 14px;
    z-index: 1;
    margin-top: 0px;
    padding: 15px;
    background-color: #ffc107;
    color: #00243d;
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  .NavContainer {
    width: 100vw;
    padding: 10px;
    margin: 0;
  }

  .userIcon p {
    margin: 0;
  }

  .userIcon p {
    margin-bottom: 0;
    position: relative;
    bottom: -40px;
    right: -50px;
  }

  .userIcon {
    display: flex;
    flex-direction: row;
  }

  .SearchBar {
    width: 150px;
  }

  .SideBar {
    display: none;
  }

  .FilterIcon {
    display: block;
    font-size: 30px;
    position: relative;
    left: 10px;
    top: 120px;
    z-index: 99;
  }

  .Menu:hover > .SideBar {
    display: block;
    position: fixed;
    top: 120px;
    bottom: 0px;
    text-align: center;
    font-size: 15px;
    z-index: 99;
    margin-top: 0px;
    padding: 15px;
    background-color: #ffc107;
    color: #00243d;
  }

  .SortDiv {
    left: 27px;
  }
}
