.inputContainer {
    text-align: center;
    margin: auto;
    padding-top: 40px;
    width: calc(100vw - 400px);
}
.imageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
.imageDiv {
    position: relative;
}
.postImage {
    padding: 5px 15px;
    width: 200px;
    height: auto;
}
.postImage:hover {
    cursor: pointer;
    opacity: 0.3;
}
.submitButton{
    background-color: #EF9D06;
    width: 16rem;
    font-weight: bold;
    border: 3px #EF9D06 solid;
    transition: 500ms
}

.submitButton:hover{
    background-color: #3CD014;
    transition: 500ms
}
.cancelButton{
    background-color: #fff;
    width: 16rem;
    font-weight: bold;
    border: #EF9D06 3px solid;
    color: #EF9D06;
    transition: 500ms
}

.cancelButton:hover{
    background-color: #D50005;
    border: #EF9D06 3px solid;
    color: #fff;
    transition: 500ms
}

.lastRow{
    margin: 20px 0;
}