/* .bgImageUserProfile {
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
  background-image: url(../public/BgImagePost-it.jpg);
} */

.UserProfileContainer {
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 20%;
  margin-left: 20%;
  width: 100%;
}
.userImage {
  padding: 5px 15px;
  width: 200px;
  height: auto;
}

.DisplayImagediv {
  height: 175px;
  width: 175px;
}

.userImage:hover {
  cursor: pointer;
  opacity: 0.3;
}
